@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.Footer {
    font-family: Roboto;

    .Footer-top {
        display: flex;
        justify-content: space-between;

        h3 {
            font-size: 16px;
            font-weight: 500;
            line-height: 18.75px;
            letter-spacing: 0.01em;
            text-align: left;
        }

        ul {
            li {
                list-style: none;
                font-size: 15px;
                font-weight: 300;
                line-height: 17.58px;
                letter-spacing: 0.01em;
                text-align: left;
                padding: 8px 0;
            }
        }

        .Icons {
            display: flex;
        }
    }

    .Footer-bottom {
        p {
            font-family: Work Sans;
            font-size: 14px;
            font-weight: 300;
            line-height: 16.42px;
            letter-spacing: 0.01em;
            text-align: left;
        }


    }
}